<!DOCTYPE html>
<html>
  <head>
    <title>FiTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" id="main-nav">
  <div class="container-fluid">
    <%= link_to 'FinanaceTracker',root_path, class: 'navbar-brand'%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navba<li class="nav-item">
          <%# <a class="nav-link disabled">Link</a> %>
        </li>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <li class="nav-item">
         <%= link_to 'My Portfolio', my_portfolio_path, class: "nav-link active" %>
       </li>

        <li class="nav-item">
  <%= link_to 'My Friends', my_friends_path, class: "nav-link active" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu" style ="background-color:rgb(38, 57, 77);">
            <%= link_to 'Edit Profile', edit_user_registration_path, class: 'dropdown-item'%>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item user-name">
            <% if current_user %>
                   <%= current_user.first_name %>  <%= current_user.last_name%> <%= link_to 'logout', destroy_user_session_path, method: :delete, data: { turbo_method: :delete } ,class: "btn btn-outline-danger"  %>
                 <% end %>
        </li>
      </ul>
      <form class="d-flex" role="search">

            </div>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
     <p class="notice"><%= notice %></p>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>  bg-danger">
    <%= value %>
  </div>
<% end %>
    <%= yield %>
  </body>
</html>
